<section class="grid justify-items-center w-full grid-cols-2">
    <div>
        <img src="assets\images\image-product-1.jpg" alt="" class="size-96 rounded-lg">
    </div>
    <div class="flex flex-col justify-center">
      <div>
        <span class="text-[#ff7d1a] block uppercase tracking-wider font-bold mb-5">Sneaker Company</span>
        <h1 class="text-5xl mb-10 leading-tight font-extrabold">Fall Limited Edition Sneakers</h1>
        <p class="text-[#68707d] text-lg mb-6 leading-relaxed tracking-wide">These low-profile sneakers are your perfect casual wear companion. Featuring a durable rubber outer sole, they’ll withstand everything the weather can offer.</p>
      </div>
      <div class="flex items-center">
        <span class="text=[#1d2025] font-bold mr-4 tracking-wide text-3xl">$125.00</span>
        <span class="bg-[#ffede0] text-[#ff7d1a] text-base p-1 font-bold">50%</span>
      </div>

        <span class="text-[#b0b2bf] line-through font-bold mt-2 tracking-wider text-base">$250.00</span>
          <div class="flex mt-10">
            <button>adicionar</button>
            <button class="addToCart__btn">
                <img src="assets/images/icon-cart.svg" alt="" class="mr-4">
              Add to cart</button>

          </div>
      </div>
</section>
